<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
        <div id="cabecera">
            <img id="logo" src="https://myuvmedu-my.sharepoint.com/personal/nicolas_godinez_my_uvm_edu_mx/Documents/cursos%20platzi/Data-enginner/git_github/repositorios/SuperBolg/Imagenes/BlockChain-Logo.png">
            SuperBlog
            <span id="tagline">creado por developer-Hash</span>
        </div>
            <h1>
                La historia de los CypherPunks y los WikiLeaks
            </h1>
        <div id="post">
            <p>
                Es increible que los hayasgos de un pequeño grupo de criptografos pudieran darnos la libertad de utilizar la criptografia como hoy la conocemos...
                <br>
                Antes de los CypherPunks la criptografia era considerada una arma militar utilizada por los gobiernos en las guerras o como espionaje, fue hasta que este grupo peliara por nuestros derechos a la privacidad
            </p>
            <p>
                La historia de los CypherPunks comienza en la ciudad de san francisco...
            </p>
        </div>
        <div id="footer">Luchemos por un sistema m&aacute;s desentralizado 🔅</div>   
    </div>
</body>
</html>
